body {
	font-family: "Raleway", sans-serif;
	/* background-color: #02acc4; */
	padding-top: 90px;
}

.logo {
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn {
	text-transform: uppercase;
}

.icone-social {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 100%;
	vertical-align: middle;
	margin: 6px;
}

.chamada-principal-titulo {
	margin-top: 5vh;
	margin-left: 1vw;
	font-weight: 600;
	font-size: 6rem;
	line-height: 6.5rem;
	text-transform: uppercase;
	color: #fff;
}

.chamada-principal-paragrafo {
	margin-top: 3vh;
	margin-left: 1vw;
	width: 45vw;
	font-weight: 400;
	font-size: 2.3rem;
	line-height: 3rem;
	text-transform: uppercase;
	color: #fff;
}

.selo-premio {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.titulo-formulario {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
	border-bottom: 1px solid #ced4da;
	padding-bottom: 15px;
}

.card-form {
	position: fixed;
	top: 90px;
	width: 420px;
	z-index: 1;
}

.card.card-form {
	padding: 10px 20px;
	margin: 25px;
}

.card-form label {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0px;
}

.content-item {
	color: #02acc4;
	text-align: center;
	font-size: 1.3rem;
}

.icone-dados {
	width: 200px;
	height: 200px;
	background-image: url(../img/logos/logo-selo-dados.svg);
	background-size: cover;
}

.-posicao-2 {
	background-position-y: 200px;
}

.-posicao-3 {
	background-position-y: 400px;
}

.-posicao-4 {
	background-position-y: 600px;
}

.banner-principal {
	background-color: #02acc4;
	background-image: url("../img/move-edu/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main-content {
	background-color: #fff;
	padding: 10vh 0;
	background: url("../img/move-edu/bg-pattern-moveedu.svg") no-repeat;
	background-size: 120vw;
	background-position: top;
}

.titulo-franquias {
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px;
}

.full-link {
	color: inherit;
	text-decoration: underline;
}

.franchises .card .img-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo-sprite {
	width: 200px;
	height: 200px;
	background-image: url(../img/logos/logo-marcas.svg);
	background-size: cover;
}

.-prepara {
	background-position: 0 0px;
}

.-microlins {
	background-position: 0 -210px;
}

.-sos {
	background-position: 0 -600px;
}

.-people {
	background-position: 0 -400px;
}

.-ensina {
	background-position: 0 -800px;
}

.-pingus {
	background-position: 0 -1000px;
}

.-talk {
	background-position: 0 -1200px;
}

.conteudo-marca {
	background: #02acc4;
	color: #fff;
}

.franchises {
	margin-top: 20px;
	margin-bottom: 20px;
}

.franchises .card {
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
}

.franchises .card:hover {
	background-color: #02acc4;
}

.franchises .card:hover .img-overlay {
	opacity: 0;
	z-index: -1;
}

@media (max-width: 768px) {
	.card-form {
		position: static;
	}

	.chamada-principal-titulo {
		margin-top: 5vh;
		margin-left: 3vw;
		font-size: 3.5rem;
		line-height: 4rem;
	}

	.chamada-principal-paragrafo {
		margin-left: 3vw;
		font-size: 1.7rem;
		line-height: 2rem;
		width: 90vw;
	}

	.titulo-formulario {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	.card.card-form {
		margin: 0px;
	}

	.card-form label {
		font-size: 0.8rem;
	}

	.banner-principal {
		background-image: none;
	}

	.main-content {
		background-image: none;
	}
}

@media (max-width: 425px) {
	.nav-item {
		margin-bottom: 10px;
	}

	.chamada-principal-paragrafo {
		font-size: 1.7rem;
		line-height: 2rem;
		width: 90vw;
	}

	.titulo-formulario {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	.card.card-form {
		margin: 3px;
		width: 90vw;
	}
}

@media (max-width: 320px) {
	.logo {
		width: 200px;
	}

	.chamada-principal-titulo {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	.chamada-principal-paragrafo {
		font-size: 1.2rem;
		line-height: 1.8rem;
		width: 90vw;
	}

	.titulo-formulario {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.-prepara {
		object-position: 0 -18px;
	}

	.-microlins {
		object-position: 0 -273px;
	}

	.-sos {
		object-position: 0 -776px;
	}

	.-people {
		object-position: 0 -528px;
	}

	.-ensina {
		object-position: 0 -1027px;
	}

	.-pingus {
		object-position: 0 -1266px;
	}

	.-talk {
		object-position: 0 -1517px;
	}
}
