body {
<<<<<<< HEAD
  font-family: "Raleway", sans-serif;
  background-color: #02acc4;
=======
	font-family: "Raleway", sans-serif;
	background-color: #02acc4;
	padding-top: 90px;
>>>>>>> refs/remotes/origin/master
}

.logo {
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn {
	text-transform: uppercase;
}

.icone-social {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 100%;
	vertical-align: middle;
	margin: 6px;
}

.chamada-principal-titulo {
<<<<<<< HEAD
	font-weight: 700;
	font-size: 3em;
  text-transform: uppercase;
  color: #fff;
=======
	margin-top: 5vh;
	margin-left: 1vw;
	font-weight: 600;
	font-size: 6rem;
	line-height: 6.5rem;
	text-transform: uppercase;
	color: #fff;
>>>>>>> refs/remotes/origin/master
}

.chamada-principal-paragrafo {
	margin-top: 3vh;
	margin-left: 1vw;
	width: 45vw;
	font-weight: 400;
	font-size: 2.3rem;
	line-height: 3rem;
	text-transform: uppercase;
	color: #fff;
}

.selo-premio {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.titulo-formulario {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
	border-bottom: 1px solid #ced4da;
	padding-top: 10px;
	padding-bottom: 15px;
}

.card-form {
	position: fixed;
	top: 90px;
}

.card.card-form {
	padding: 10px 20px;
	margin: 25px;
}

.card-form label {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0px;
}

@media (max-width: 768px) {
	.card-form {
		position: static;
	}

	.chamada-principal-titulo {
		margin-top: 5vh;
		margin-left: 3vw;
		font-size: 3.5rem;
		line-height: 4rem;
	}

	.chamada-principal-paragrafo {
		margin-left: 3vw;
		font-size: 1.7rem;
		line-height: 2rem;
		width: 90vw;
	}

	.titulo-formulario {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	.card.card-form {
		margin: 0px;
	}

	.card-form label {
		font-size: 0.8rem;
	}
}

@media (max-width: 425px) {
	.chamada-principal-paragrafo {
		font-size: 1.7rem;
		line-height: 2rem;
		width: 90vw;
	}

	.titulo-formulario {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	.card.card-form {
		margin: 3px;
	}
}

@media (max-width: 320px) {
	.logo {
		width: 200px;
	}

	.chamada-principal-titulo {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	.chamada-principal-paragrafo {
		font-size: 1.2rem;
		line-height: 1.8rem;
		width: 90vw;
	}

	.titulo-formulario {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

@media (min-width: 768px) {
	.banner-principal {
		background-image: url("../img/move-edu/banner.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}

	.main-content {
		padding: 5% 0;
		background: url("../img/move-edu/bg-pattern-moveedu.jpg") no-repeat;
		background-size: 125%;
		background-position: center;
	}

	.content-details {
		background-image: url("../img/move-edu/bruno-maisa.png");
		background-repeat: no-repeat;
		background-position: right 10px;
	}

	.card-presentation {
		font-size: 26px;
	}
}

body {
}

/* a {
  color: inherit;
} */

/* Helpers */

.bg-dark {
	color: #232323;
}

.white-bg {
	background-color: #fff;
	color: #231f20;
}

.dark-bg {
	background-color: #231f20;
	color: #fff;
}

.color-white {
	color: white;
}

@media (min-width: 999px) {
	.card-form {
		position: fixed;
		top: 90px;
	}
}

.card-form .form-group {
	margin-bottom: 10px;
}

.tooltip .tooltip-inner {
	background-color: #fff;
	border: 1px solid #000;
	color: #ff2f2f;
	max-width: 200px;
	padding: 3px 8px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
}
/* end Form */

/* Footer */
footer .contact {
	line-height: 1.2;
}

footer .text-description {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
}

footer .phone {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 5px;
}

footer .phone span {
	font-size: 22px;
	font-weight: normal;
}

footer .email {
	font-size: 15px;
	font-weight: light;
}

footer .email:hover {
	color: #fff;
}

/* end Footer */

/* Modal */

#response-modal .modal-header {
	background: #02acc4;
	color: #fff;
}

#response-modal .Sucesso p {
	color: green;
}

#response-modal .Erro p {
	color: red;
}

/* end Modal */

/*  fonts */
.font-open-sans {
	font-family: "Open Sans", sans-serif !important;
}

.font-raleway {
	font-family: "Raleway", sans-serif !important;
}
/*  end fonts */

.circles-list .circle-item {
	border-radius: 100%;
	width: 200px;
	height: 200px;
	padding: 15px;
}

.list-check li {
	margin-bottom: 10px;
	list-style: none;
	position: relative;
}

.list-check li:before {
	content: "\f058";
	font-family: FontAwesome;
	font-size: 15px;
	left: -30px;
	top: 2px;
	position: absolute;
}

@media (max-width: 767px) {
	.banner {
		background-image: none !important;
	}

	.banner-footer {
		display: none;
	}

	footer {
		border-top: 1px solid #cecece;
		text-align: center;
	}
}

@media (max-width: 991px) {
	.header .navbar .btn {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

.full-link {
	position: absolute;
	width: 100%;
	height: 100%;
}
